@media (min-width: 200px) and (max-width: 600px) {
  .title{
    top: 10em;
    font-size: 2em;
  }
  .foto{
    width: 30%;
    left: 10em;
  }
  .titleSobreMi{
    font-size: 2.5em;
    text-align: center;
  }
  .textSobreMi{
    font-size: 1em;
  }
  #backgroundImage, #sobreMi, #proyectos, #contacto, .containerTransparenteContacto{
    height: 120vh;
  }
  #habilidades, .containerTransparente{
    height: 90vh;
  }
   p.titleContacto.colorHabilidades.wow.zoomIn{
    margin: 0;
    padding-top: 1em;
    position: relative;
    left: 0;
    text-align: center;
  }
   p.titleHabilidades.colorHabilidades.wow.zoomIn{
    margin: 0;
    padding-top: 1em;
    position: relative;
    left: 0;
    text-align: center;
  }
  p.titleProyectos{
    left: 1em;
  }
  i{
    top: 2em;
    float: left;
    font-size: 3em;
  }
  .devicon-html5-plain-wordmark, .devicon-bootstrap-plain-wordmark{
    margin-left: 0.9em;
  }
  .devicon-jquery-plain-wordmark, .devicon-react-original-wordmark{
    margin-left: 0.9em;
  }
 
  .devicon-git-plain{
    font-size: 2.6em;
    top: 4.5em;
    left: 1em;
  }
  .devicon-bootstrap-plain-wordmark, .devicon-sass-original, .devicon-github-plain-wordmark, .devicon-react-original-wordmark{
    top: 3em;
  }
  .logos{
    width: 3.8em;
    float: left;
    position: relative;
    left: 1em;
  }
  .arrow{
    left: 8em;
    width: 2em;
  }
  .desarrollo{
    font-size: 0.80em;
  }
  #imgdex { 
    top: 15em;
    perspective: 1000px;
    width: 90%;
    right: 15em;
  }
  #imgdex figure {
    top: 0; 
    left: 0;    
    width: 350%;
  }
  #imgdex figure img {
    width: 105%;
  }
  #imgdex figure figcaption{
    display: none;
  }
  form input[type="range"] { 
    width: 350%;
    top: 9.5em;
    right: 17em;
  }

}


@media (max-width:600px) {

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 9px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 7px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    height: 50px;
    border-bottom: 2px solid #fff;
    padding: 15px;
    text-align: center;
    margin: 0;
  }
  .nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked + .nav-links {
    height: calc(50vh - 50px);
    overflow-y: auto;
  }
}

